[submodule "subprojects/Catch2"]
	path = subprojects/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "subprojects/cordic"]
	path = subprojects/cordic
	url = https://github.com/gyaanantia/cordic.git
